@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --nav-bgr-color: #0b1031;
  --bodySearch-bgr-color: #f5f7f9;
  --nav-fontIcon-color: #e7e7ea;
  --accent-color: #5979f7;
  --card-border-color: #9d9fad;
  --card-heading-color: #080b22;
  --card-para-color: #858898;
  --navCard-bgr-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bodySearch-bgr-color);
  background-color: var(--bodySearch-bgr-color);
  height: -webkit-fill-available;
}

.container {
  height: 100vh;
  overflow: auto;
  display: grid;
  grid-template-columns: 0.01fr auto auto;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.nav {
  position: relative;
  grid-row: 1 / 4;
  background-color: var(--nav-bgr-color);
  background-color: var(--nav-bgr-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.52fr;
  transition: width 200ms ease-in-out;
  width: calc(175px + (305 - 175) * ((100vw - 300px) / (1600 - 300)));
}

.short {
  grid-row: 1 / 4;
  background-color: var(--nav-bgr-color);
  background-color: var(--nav-bgr-color);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.52fr;
  width: calc(40px + (59 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.top {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-rows: repeat(6, max-content);
  transition: grid-template-columns 200ms ease-in-out;
}

.top.closed {
  display: grid;
  grid-template-columns: calc(
    40px + (59 - 40) * ((100vw - 300px) / (1600 - 300))
  );
  grid-template-rows: repeat(6, max-content);
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: start;
  align-items: center;
}

.header .menu {
  position: absolute;
  width: 30px;
  fill: var(--nav-fontIcon-color);
  margin: 80px calc(7.5px + (13 - 7.5) * ((100vw - 300px) / (1600 - 300)));
  right: 0px;

  background-color: var(--nav-bgr-color);
}

.header .logo {
  /* width: 62px; */
  width: calc(44px + (62 - 44) * ((100vw - 300px) / (1600 - 300)));
  stroke: var(--nav-fontIcon-color);
  fill: var(--nav-fontIcon-color);
  stroke: var(--nav-fontIcon-color);
  fill: var(--nav-fontIcon-color);
}

.header h1 {
  grid-column: 2 / 3;
  color: var(--nav-fontIcon-color);
  color: var(--nav-fontIcon-color);
  font-family: "Roboto", sans-serif;
  font-size: calc(18px + (36 - 18) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: -0.5px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  transition: grid-template-columns 200ms ease-in-out;
}

.bottom.closed {
  display: grid;
  grid-template-columns: calc(
    40px + (59 - 40) * ((100vw - 300px) / (1600 - 300))
  );
  grid-template-rows: repeat(3, max-content);
}

.links {
  margin-left: 2%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  justify-items: start;
  border-radius: 8px;
  padding: 12px 0;
  gap: 16px;
  width: auto;
}

.links:hover {
  cursor: pointer;
  background-color: var(--accent-color);
  width: 96%;
}

.links.highlight {
  cursor: pointer;
  background-color: var(--accent-color);
  width: 96%;
}

.links.hightlight.closed {
  width: 96%;
}

.links.highlight.closed:hover {
  cursor: pointer;
  width: 96%;
  background-color: var(--accent-color);
}

.links svg {
  grid-column: 1;
  width: 30px;
  margin-left: calc(3px + (12 - 3) * ((100vw - 300px) / (1600 - 300)));
  fill: var(--nav-fontIcon-color);
  fill: var(--nav-fontIcon-color);
}

.links p {
  grid-column: 2;
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  color: var(--nav-fontIcon-color);
  color: var(--nav-fontIcon-color);
  font-weight: 700;
}

.topNav {
  grid-column: 2 / 4;
  grid-row: 1;
  background-color: var(--navCard-bgr-color);
  background-color: var(--navCard-bgr-color);
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.bar-1 {
  grid-row: 1;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.search-left {
  grid-column: 1;
  display: grid;
  align-items: center;
  justify-items: center;
}

.search-right {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
}

.search-right h3 {
  justify-self: start;
  font-family: "Roboto", sans-serif;
}

#search {
  width: 100%;
  max-width: 70%;
  height: 50%;
  border: 1px solid #cecfd6;
  background-color: var(--bodySearch-bgr-color);
  background-color: var(--bodySearch-bgr-color);
  border-radius: 20px;
  font-family: Arial, FontAwesome;
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 10px;
}

.search-right img {
  width: calc(36px + (50 - 36) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 50%;
}
.search-right svg {
  width: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.search-right h3 {
  font-size: calc(12px + (20 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.bar-2 {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.left {
  grid-column: 1;
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  align-items: center;
}

.left img {
  width: calc(56px + (74 - 56) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 50%;
  justify-self: end;
}

.left p {
  grid-column: 2;

  justify-self: start;
  margin-left: 2%;
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
}

.left p > span {
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
}

.right {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-content: space-evenly;
}

.right button {
  height: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
  width: calc(74px + (100 - 74) * ((100vw - 300px) / (1600 - 300)));

  border-radius: 50px;
  background-color: var(--accent-color);
  background-color: var(--accent-color);
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  color: #ffffff;
}

.right button:hover {
  cursor: pointer;
  background-color: #4761c6;
}

.article {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.32fr 1fr;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

h3 {
  font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.articleHeaderL {
  grid-column: 1;
  margin: 25px 0px 15px 25px;
}

.articleHeader h3:first-child {
  margin-top: 25px;
  margin-left: 25px;
}

.leftCards {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  margin: 0px 25px;
}

.lCard {
  border: 1px solid var(--card-border-color);
  border: 1px solid var(--card-border-color);
  padding: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto auto;
  border-left: 6px solid #8bb6a2;
  color: var(--card-heading-color);
  color: var(--card-heading-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--navCard-bgr-color);
  background-color: var(--navCard-bgr-color);
}
.rCard {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 15px;
  align-items: center;
  border: 1px solid var(--card-border-color);
  border: 1px solid var(--card-border-color);
  padding: calc(16px + (32 - 16) * ((100vw - 300px) / (1600 - 300)));
  border-radius: 8px;
  color: var(--card-heading-color);
  color: var(--card-heading-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--navCard-bgr-color);
  background-color: var(--navCard-bgr-color);
}

.rCard .content h4 {
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
}
.rCard .content p {
  font-size: 10px;
  color: var(--card-para-color);
  color: var(--card-para-color);
}

.lCard h4 {
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.lCard p {
  color: var(--card-para-color);
  color: var(--card-para-color);
  font-size: calc(10px + (12 - 10) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.5;
}

.articleHeaderR {
  grid-column: 2;
  margin: 25px 0px 15px 0px;
}

.rightCards {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 280px;
  gap: 25px;
  margin-right: 25px;
}

.cardIcons {
  display: flex;
  justify-content: end;
  gap: 16px;
}
.cardIcons svg {
  width: 24px;
  margin-top: 2rem;
  fill: #060819;
}

.trending {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  row-gap: 15px;
}

.trending img {
  /* width: 50px; */
  width: calc(36px + (50 - 36) * ((100vw - 300px) / (1600 - 300)));

  border-radius: 50%;
}

.rCard.trend {
  padding: 1rem;
}

.user {
  /* font-size: 14px; */
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.user p:first-child {
  font-weight: 500;
}

.user p:last-child {
  color: var(--card-para-color);
  color: var(--card-para-color);
}
